.products {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-bottom: 10px;
  overflow-x: auto;

  &__title {
    display: flex;
    font-size: 40px;
    line-height: 48px;
  }

  &__header {
    display: flex;
    align-items: center;
    gap: 30px;
  }

  &__filter {
    display: flex;
    gap: 4px;

    select {
      width: 300px;
      text-overflow: ellipsis;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 8px;
    min-width: 100%;
    width: max-content;
  }
}
